h4{ color: white;
    text-align: left;
}

#nav{
    background-color: rgb(39, 149, 163);
    color: white;
}

#form_login{
    padding-top: 80px;
    padding-left: 80px;
    /*background-color: rgb(0, 124, 195);*/
    background-color: rgb(115, 221, 235);
    width:550px;
    height:350px;
    border-radius: 3%;  
}

#form_login label{
    color: black;
}

#form_login button{
    color: white;
    border-color: white;
    /*background-color: rgb(0, 124, 195);*/
    background-color: rgb(39, 149, 163);*/
}

#form_cad{
    padding-top: 100px;
    padding-left: 100px;
}

#pag_login{
   padding-top: 250px;
   /*padding-left: 700px;*/
}
/* css responsivo provisorio */




@media(max-width: 985px){

    #lupiteco {
        width: 25%;
    }

    #tabela th{
        width: 10%;
    }
    
}

